

<div class="my-32"
     data-controller="algolia"
     data-algolia-app-id-value="<%= ENV['ALGOLIA_APPLICATION_ID'] %>"
     data-algolia-api-key-value="<%= ENV['ALGOLIA_API_KEY'] %>"
     data-algolia-index-name-value="<%= Note.index_name %>">
  <div class=" mx-auto">
    <div class="flex items-center justify-between mb-6">
        <div class="w-full mb-4 mx-auto max-w-xl" id="searchbox"></div>
  <%= link_to "Adicionar Nota", new_note_path, class: "btn btn-info", data: { turbo_frame: :modal } %>
</div>


    <div class="flex space-x-4">

      <%= render "shared/sidebar_menu" %>
      <div class="flex-1">
        <div class="text-gray-600" id="hits"></div>
        <div class="my-20">
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= turbo_frame_tag :modal %>
