<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Note Meuelevador" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Include only the reset -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.5.1/themes/reset-min.css" integrity="sha256-KvFgFCzgqSErAPu6y9gz/AhZAvzK48VJASu3DpNLCEQ=" crossorigin="anonymous">
    <!-- or include the full Satellite theme -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="typesense-host" content="<%= ENV['TYPESENSE_HOST'] %>">
    <meta name="typesense-search-key" content="<%= ENV['TYPESENSE_SEARCH_KEY'] %>">
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%#= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag 'tailwind',  "data-turbo-track": "reload" %>
    <%= Rails.env %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>
  <body class="bg-gray-50 min-h-screen">
    <%= render "shared/dashboard_menu" %>
    <main>
      <%= render "shared/flash" %>
      <section>
        <div class="mx-auto px-4 content w-full max-w3xl">
          <%= yield %>
        </div>
      </section>
      <%= turbo_frame_tag :modal %>
    </main>
  </body>
</html>
