<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Note Meuelevador" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-gray-50 min-h-screen">
    <nav class="fixed top-0 left-0 w-full bg-slate-800 shadow z-50">
      <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center gap-2">
         <%= link_to root_path do %>
          <img src="https://res.cloudinary.com/djkz8rzky/images/f_auto,q_auto/v1751482679/logo-branco-funco-azul-1_mq3ej0/logo-branco-funco-azul-1_mq3ej0.png?_i=AA" alt="Logo" class="w-72 mr-2">
        <% end %>
        </div>
        <div>
          <% if user_signed_in? %>
            <span class="mr-4 text-gray-300">Olá, <%= current_user.email %></span>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, form: { class: 'inline' }, class: "text-red-500 hover:text-red-700 font-semibold bg-transparent border-none cursor-pointer px-0" %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: "text-blue-500 hover:text-blue-700 font-semibold" %>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="pt-0">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
